include /components/slider-example/slider-example.pug

doctype html
html(lang='en')
  head
    meta(name='charset', content='utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    meta(name='description', content='Slider plugin example page')
    meta(name='keywords', content='PUG, SCSS, jQuery, TS, jest, MVP, observer')
    title #{ title }
  body.example
    +slider-example({heading:'Example 1', width:'large'})
    +slider-example({heading:'Example 2'})
    +slider-example({heading:'Example 3'})
    +slider-example({heading:'Example 4'})
