{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "project": ["./tsconfig.json"],
    "warnOnUnsupportedTypeScriptVersion": false
  },
  "ignorePatterns": [
    "dist",
    "node_modules"
  ],
    "rules": {
      "no-param-reassign": [
        "error",
        {
          "props": false
        }
      ],
      "prettier/prettier": [
        "error"
      ],
      "lines-between-class-members": "off",
      "@typescript-eslint/lines-between-class-members": ["off"],
      "react/jsx-filename-extension": [0],
      "import/order": [
        "error",
        {
          "groups": [
            "builtin",
            "external",
            "unknown",
            "internal",
            "parent",
            "sibling",
            "index"
          ],
          "newlines-between": "always",
          "warnOnUnassignedImports": true
        }
      ],
      "import/newline-after-import": "error"
    },
    "settings": {
      "import/extensions": [".js", ".ts"],
      "import/parsers": {
        "@typescript-eslint/parser": [".js", ".ts"]
      },
      "import/resolver": {
        "webpack": {
          "config": "config/webpack.common.js"
        }
      }
    },
    "env": {
      "es6": true,
      "browser": true
    },
    "plugins": [
      "import",
      "jest",
      "@typescript-eslint",
      "prettier"
    ],
    "extends": [
      "airbnb-typescript",
      "plugin:jest/recommended",
      "plugin:prettier/recommended",
      "plugin:import/errors",
      "plugin:import/warnings",
      "plugin:import/typescript"
    ]
}