.slider-panel {
  &__inputs-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100px;
  }

  &__input-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 100%;
    padding: 2px;
    text-align: center;
  }

  &__input {
    width: 100%;
    font-size: inherit;
  }

  &__input_checkbox {
    width: 30px;
    height: 30px;
  }
}
