@import '~normalize-scss/sass/normalize';
@include normalize();

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-bar {
  position: absolute;
  width: 1px;
  height: 20px;
  background: lightblue;
}

.track {
  position: relative;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  background: plum;
}

.thumb {
  display: flex;
  justify-content: center;
  width: 15px;
  height: 40px;
  background: red;
  position: relative;
  cursor: pointer;
  z-index: 1000;
}

.tip {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50px;
  width: 25px;
  height: 25px;
  background: red;
  position: absolute;
  cursor: pointer;
}

.scale {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.scale-mark {
}

.container {
  display: flex;
  flex-direction: column;
  margin: 200px auto 50px;
  width: 400px;
}

.input {
  width: 50px;
}

.inputs-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.input-container,
.checkbox-container {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.input-label {
  text-align: center;
  padding: 2px;
  width: 40px;
  border: 1px solid black;
}

.checkbox-label {
  margin-right: 5px;
  text-align: center;
}

.checkbox {
  width: 30px;
  height: 30px;
}
