@import '~normalize-scss/sass/normalize';
@include normalize();

$color-light: #f5f5f5;
$color-red: #f05454;
$color-dark-blue: #30475e;
$color-black: #121212;

.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__thumb {
    position: absolute;
    top: 25%;
    z-index: 2;
    width: 15px;
    height: 40px;
    background: $color-red;
    border-radius: 2px;
    transform: translateY(-25%);
    cursor: pointer;
    touch-action: none;

    &_top {
      z-index: 3;
    }
  }

  &__tip {
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    height: 25px;
    padding: 5px;
    color: $color-light;
    font-size: 18px;
    background: $color-red;
    border-radius: 2px;
    transform: translateX(-50%);
    cursor: pointer;

    &_expanded {
      left: 100%;
      width: max-content;
    }
  }

  &__scale {
    position: absolute;
    top: 55%;
    width: 100%;
  }

  &__scale-mark {
    position: absolute;
    padding: 0 5px;
    color: $color-black;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
  }

  &__bar {
    position: absolute;
    z-index: 1;
    background: $color-dark-blue;
  }

  &__track {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 20px;
    margin-bottom: 25px;
    background: $color-light;
  }

  &_vertical {
    align-items: center;

    .slider__track {
      width: 20px;
      height: 100%;
      margin: 0;
    }

    .slider__scale {
      top: 0;
      flex-direction: column;
      justify-items: center;
      width: fit-content;
      height: 100%;
      margin-left: 100px;
      text-align: center;
    }

    .slider__scale-mark {
      max-width: 50px;
      padding: 5px 0;
    }

    .slider__tip {
      bottom: 0;
      left: 0;
      transform: translate(-130%, 25%);
    }

    .slider__tip_expanded {
      top: 50%;
      left: 0;
      width: auto;
      height: max-content;
      text-align: center;
      transform: translate(-125%, -50%);
    }

    .slider__thumb {
      width: 40px;
      height: 15px;
      transform: translateX(-25%);
    }
  }
}
