.slider-example {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__heading {
    font-size: 40px;
  }

  &__panel-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 10px;

    &_width_normal {
      width: 300px;
    }

    &_width_large {
      width: 500px;
    }
  }
}
